<%- include("partials/header") -%>
<h1>
    Home
</h1>
<p><%= homeContent %></p>
<button class="btn btn-primary btn-lg" onclick="location.href='/compose'" type="button">New post</button>

<% if(posts.length > 0) { %>
    <h1>Your posts</h1>

    <% posts.forEach(function(e) { %>
    <div class="postItem">
        <h2> <%= e.title %><span class="date"><%= e.date %></span></h2>
        
        <p class="postBody-short"> <%= e.content.substring(0,150) + " ..." %> <a href="/posts/<%= e.link %>">Read more</a></p>
    </div>
    <% }) %>
<% } %>



<%- include("partials/footer") -%>